# testResults.md

In the calculator solution explorer, there is a test project called CalculatorUnitTests (Universal Windows); in this test project, the unit tests for Team 11 can be found. On the file system, it will be under the CalculatorUnitTests folder. This project uses the C++ testing framework.  
In order to see whether the unit tests pass/fail, navigate to 'Test' -> 'Test Explorer' and drop down CalculatorUnitTests, right click on Team11_UnitTests, and select run.  
Passing tests will result in a green check; failing tests will have a red 'x'.
