# testResults.md

In the calculator solution, there is a test project called Team 11 Unit tests. This project uses the C++ testing framework.  
In order to see whether the unit tests pass/fail, navigate to 'Test' -> 'Test Explorer' right click on Team 11 Unit tests and select run.  
Passing tests will result in a green check; failing tests will have a red 'x'.
